    
<!- User Sidebar Menu-->
<li class="nav-item">
    
    <a class="nav-link collapsed" href="properties.php">
        <i class="fas fa-fw fa-folder"></i>
        <span>Properties</span>
    </a>
    <a class="nav-link collapsed" href="complaint.php">
        <i class="fas fa-fw fa-folder"></i>
        <span>Complaint</span>
    </a>
    <a class="nav-link collapsed" href="sos.php">
        <i class="fas fa-fw fa-folder"></i>
        <span>SOS Jobs</span>
    </a>
    <a class="nav-link collapsed" href="feedback.php">
        <i class="fas fa-fw fa-folder"></i>
        <span>Feedback</span>
    </a>
</li>